<h1>Editar Raza - <%= razaAEditar.nombre%></h1>
<div class="row">
  <div class="col-sm-5">
    <form action="/Raza/EditarRaza" method="post">
      <div class="form-group">
        <label>Nombre Raza</label>
        <input type="text" class="form-control" placeholder="Ingrese el nombre de la raza" name="nombre" value="<%= razaAEditar.nombre %>">
        <input type="hidden" name="idRaza" value="<%= razaAEditar.id %>">
      </div>
      <button type="submit" class="btn btn-success btn-block">Editar raza</button>
    </form>
  </div>
</div>
